.text{
  text-align: left;
  width: 50%;

}
.nav-item{
    padding: 10px 20px;
}
.signin-btn{
  height: 2.5rem;
  padding-top: 0;
  border-radius: 40px;
}
.track-btn{
  height: 2.5rem;
  padding-top: 0.3;
  border-radius: 40px;
  border: solid 1px #fff;
}
input[type=search] {
	background: #555 url(http://hp-proliant.co.uk/qual_images/mob-search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 250px;
  border-radius: 40px;
}
input[type=search]:focus {
	width: 350px;

	border-color: #333;
	border: solid 1px #fff;
}
.nav-link{

}
